:root {
    --color-primary: #5138ee;
    --color-primary-dark: #1c0b87;
    --color-primary-light: #7c69f2;
    --color-primary-text: #22262a;
    --color-secondary: #090524;
    --color-secondary-light: #16122f;
    --color-heading: #000000;
    --color-heading-light: #333333;
}

.theme-salmon {
    --color-primary: #FF7D6B;
    --color-primary-dark: #e06a5b;
    --color-primary-light: #ff8e80;
    --color-primary-text: #fefefe;
    --color-secondary: #0d0050;
    --color-secondary-light: #2c2167;
    --color-heading: #000000;
    --color-heading-light: #333333;
}

.theme-blue {
    --color-primary: #250c83;
    --color-primary-dark: #e06a5b;
    --color-primary-light: #ff8e80;
    --color-primary-text: #fefefe;
    --color-secondary: #0d0050;
    --color-secondary-light: #2c2167;
    --color-heading: #000000;
    --color-heading-light: #333333;
    --color-colorado-blue: #002868;
    --color-colorado-red: #bf0a30;
    --color-colorado-yellow: #ffd700;
    --color-alaska-blue: #0f204b;
    --color-alaska-gold: #ffb612;
}
