@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwind-loves-sass";
@import "./tailwind.css";
@import "./swiper.css";
@import "variables";

$colorado-blue: rgb(0, 39, 102);
$colorado-red: #bf0a30;
$colorado-yellow: #ffd700;
$alaska-blue: #0f204b;
$alaska-gold: #ffb612;
