@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$colorado-blue: rgb(0, 39, 102);
$colorado-red: #bf0a30;
$colorado-yellow: #ffd700;

$primary-color: $colorado-blue;
$primary-color-light: $colorado-blue;

$secondary-color: $colorado-red;
$secondary-color-light: $colorado-red;
$secondary-color-dark: darken($secondary-color, 10%);

$accent-color: $colorado-yellow;
$accent-color-light: $colorado-yellow;

$link-color: $primary-color;

$card-padding: 15px;

html {
  font-family: "Maven Pro", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
  max-width: 1200px;
}

strong {
	font-weight: bold!important;
}

.material-icons {
	vertical-align: middle;
}

.modal {
	min-width: 300px;
	width: 66%;
	max-width: 700px;
}